---
layout: committee.njk
title: The committee
description: Meet the volunteer committee members who manage the Sydney Seals Freediving Club.
subtitle: The volunteers behind the club
intro: The committee are volunteers responsible for overall management of the club. Members vote in the committee each year. You do not have to be on the committee to run an event&#8212;any member can submit a proposal or volunteer.
permalink: /committee/
---
