---
layout: faq.njk
title: Frequently asked questions
description: Frequently Asked Questions
subtitle: Answers to common questions about the Sydney Seals Freediving Club, membership, training, events, and the AFA.
permalink: /faq/
---
