---
layout: membership.njk
title: Membership
description: Join the Sydney Seals Freediving Club. Learn about membership benefits, costs, and how to sign up.
subtitle: Join Sydney Seals for pool training, fun dives, and vibrant community events around Sydney Australia (Eora)
permalink: /membership/
---
